In [9]:
import requests
import json

url = "https://genloopv1.uc.r.appspot.com/model_inference"

payload = json.dumps({
  "model": "sring",
  "messages": [],
  "stream": True,
  "meta": ""
})


response = requests.request("POST", url, data=payload)

print(response.text)

{"output":"This is a dummy output","status":"success"}

In [98]:
import sqlalchemy
def connect_tcp_socket() -> sqlalchemy.engine.base.Engine:
    """Initializes a TCP connection pool for a Cloud SQL instance of Postgres."""

    pool = sqlalchemy.create_engine(
        # Equivalent URL:
        # url = 'genloopv1:us-central1:genloop-postgresv1'
        # url = 'postgresql+psycopg2://postgres:genloop@123@34.68.9.168:5302/postgresv1'
        sqlalchemy.engine.url.URL.create(
            drivername="postgresql+psycopg2",
            username = "postgres",
            password='genloop@123', #TODO pick from env
            host='34.68.9.168', #TODO pick from env
            port='5432',
            database='postgres',
        )
    )
    return pool

In [49]:
from sqlalchemy import text

engine = connect_tcp_socket()

# query = f"""
# INSERT INTO dataset_hub (dataset_id, dataset_name, created_at, rows, model_ids, project_id)
# VALUES (temp, value2, 2024-02-20T00:00:00Z, 1, ["model"], "PROJEct1");

# """

# result = connection.execute(query)

# return [row[0] for row in result]

with engine.connect() as connection:
    connection.execution_options(isolation_level="AUTOCOMMIT")    
    query = text("""
        INSERT INTO public.dataset_hub (dataset_id, dataset_name, created_at, rows, model_ids, project_id)
        VALUES (:dataset_id, :dataset_name, :created_at, :rows, :model_ids, :project_id);
        """)
        
    connection.execute(query, {
            'dataset_id': 'test',
            'dataset_name': 'value2',
            'created_at': '2024-02-20T00:00:00Z',  # Correctly quoted timestamp
            'rows': 1,
            'model_ids': '{}',  # Properly formatted array
            'project_id': 'PROJECT1'
    })
    if result.rowcount > 0:
            print("Insert successful!")
    else:
            print("Insert failed.")

Insert successful!

In [33]:
 with engine.connect() as connection:
        result = connection.execute(text("SELECT * FROM public.dataset_hub;"))
        for row in result:
            print(row)

('Data01', 'Records until Feb 20 2024', 'GPT4 records until Feb 20, 2024', datetime.datetime(2024, 2, 20, 0, 0), 15000, ['modelA', 'modelB', 'modelC'], {'parent': None, 'version': 1}, '/datasets/records_feb_20_2024', 'PROJ001')
('Data02', 'Records until Aug 3 2024', 'Product records until Aug 3, merged with Data01', datetime.datetime(2024, 8, 3, 0, 0), 143800, ['modelA', 'modelB', 'modelC'], {'parent': 'Data01', 'version': 2}, '/datasets/records_aug_3_2024', 'PROJ001')
('Data03', 'Q1 2024 Customer Feedback', 'Customer feedback analysis for Q1 2024', datetime.datetime(2024, 4, 1, 0, 0), 50000, ['modelA', 'modelB', 'modelC'], {'parent': None, 'version': 1}, '/datasets/customer_feedback_q1_2024', 'PROJ001')
('Data04', 'Sales Forecast 2024', 'Annual sales forecast dataset', datetime.datetime(2024, 1, 15, 0, 0), 10000, ['modelA', 'modelB', 'modelC'], {'parent': None, 'version': 1}, '/datasets/sales_forecast_2024', 'PROJ001')
('Data05', 'Sales Forecast 2024 - Updated', 'Updated annual sales forecast with Q1 data', datetime.datetime(2024, 4, 10, 0, 0), 12500, ['modelA', 'modelB', 'modelC'], {'parent': 'Data04', 'version': 2}, '/datasets/sales_forecast_2024_v2', 'PROJ001')
('temp', 'value2', None, datetime.datetime(2024, 2, 20, 0, 0), 1, ['model'], None, None, 'PROJECT1')

In [120]:

from openai import OpenAI

openai_api_key = "BW8J_qlpGFAD51VXihUoNAHxsyN1jXkvQLsMf4nueHI"
openai_api_base = "http://34.122.194.201:8000/v1" 

client = OpenAI(
    base_url=openai_api_base,
    api_key=openai_api_key
)

response = client.chat.completions.create(
  model = "genloop/fin-news-headline-gen_mistral-nemo-instruct-merged",
  messages = [ 
    {
      "role": "system",
      "content": "Generate a suitable headline for given input of a financial news article. Only output the headline not the instruction and input texts."
    },
    {
      "role": "user",
      "content": "apple discontinues iphone sales in china. it has shut down all the factories"
    }
  ],
  max_tokens = 85,
  temperature = 0.7,
  stream = False
)

print(response.choices[0].message.content)

Apple Discontinues IP-Home Sales in China

In [ ]:
[11:12 PM, 9/23/2024] Eshan Gujar Genloop: openai_api_key = "BW8J_qlpGFAD51VXihUoNAHxsyN1jXkvQLsMf4nueHI"
openai_api_base = "http://34.122.194.201:8000"
[11:13 PM, 9/23/2024] Eshan Gujar Genloop: if generating headlines, use this for system prompt: 'Generate a suitable headline for given input of a financial news article. Only output the headline not the instruction and input texts.'
[11:15 PM, 9/23/2024] Eshan Gujar Genloop: and the model is: genloop/fin-news-headline-gen_mistral-nemo-instruct-merged

In [48]:
from openai import OpenAI


openai_api_key = "LOAD FROM ENV"

client = OpenAI(
    api_key=openai_api_key
)

response = client.chat.completions.create(
  model = "gpt-4o-mini",
  messages = [ 
    {
      "role": "user",
      "content": "My car is not starting"
    }
  ],
  max_tokens = 85,
  temperature = 0.7,
  stream = False
)

print(response.choices[0].message.content)

I'm sorry to hear that your car isn't starting. Here are some common troubleshooting steps you can take to identify the issue:

1. **Check the Battery**:
   - Ensure the battery terminals are clean and securely connected.
   - Look for any signs of corrosion on the battery terminals.
   - If you have a multimeter, check the battery voltage (should be around 12.6 volts when fully charged).

2.

In [73]:
import pandas as pd
import io
from sqlalchemy import create_engine
from psycopg2 import sql

arena_df = pd.read_csv("arena_test_file.csv")

In [90]:
# # Utility function to dynamically create a table using raw SQL
# def create_table_from_csv_raw(table_name: str, df: pd.DataFrame):
#     columns = []
#     for column_name, dtype in zip(df.columns, df.dtypes):
#         # Determine the SQL data type for each column
#         if dtype == 'int64':
#             columns.append(f"{column_name} INTEGER")
#         elif dtype == 'float64':
#             columns.append(f"{column_name} FLOAT")
#         else:
#             columns.append(f"{column_name} TEXT")
    
#     # SQL query to create a table
#     create_table_query = f"CREATE TABLE IF NOT EXISTS arenas.{table_name} ({', '.join(columns)});"
    
#     # Connect to the database and execute the query
#     with engine.connect() as connection:
#         connection.execute(create_table_query)

#         # Insert CSV data into the newly created table row by row
#         for row in df.itertuples(index=False):
#             values = tuple(row)
#             insert_query = f"INSERT INTO {table_name} VALUES {values};"
#             connection.execute(insert_query)

# Utility function to dynamically create a table using raw SQL
# from sqlalchemy import text

# # Utility function to dynamically create a table using raw SQL
# def create_table_from_csv_raw(table_name: str, df: pd.DataFrame):
#     columns = []
    
#     # Create a mapping for pandas dtypes to SQL dtypes
#     for column_name, dtype in zip(df.columns, df.dtypes):
#         # Determine the SQL data type for each column
#         if dtype == 'int64':
#             columns.append(f"{column_name} INTEGER")
#         elif dtype == 'float64':
#             columns.append(f"{column_name} FLOAT")
#         else:
#             columns.append(f"{column_name} TEXT")
    
#     # SQL query to create a table within the 'arenas' schema
#     create_table_query = f"CREATE TABLE IF NOT EXISTS arenas.{table_name} ({', '.join(columns)});"
    
#     # Connect to the database and execute the query
#     with engine.connect() as connection:
#         # Use the text() method to execute raw SQL
#         connection.execute(text(create_table_query))

#         # Prepare the insert query with placeholders
#         placeholders = ', '.join(['%s'] * len(df.columns))
#         insert_query = f"INSERT INTO arenas.{table_name} VALUES ({placeholders});"

#         # Insert the CSV data into the newly created table row by row
#         for row in df.itertuples(index=False, name=None):
#             # Execute the insert query with parameterized values
#             connection.execute(text(insert_query), row)


# def create_table_from_csv_raw(table_name: str, df: pd.DataFrame):
#     columns = []

#     # Create a mapping for pandas dtypes to SQL dtypes
#     for column_name, dtype in zip(df.columns, df.dtypes):
#         if dtype == 'int64':
#             columns.append(f"{column_name} INTEGER")
#         elif dtype == 'float64':
#             columns.append(f"{column_name} FLOAT")
#         else:
#             columns.append(f"{column_name} TEXT")

#     # Create table query
#     create_table_query = f"CREATE TABLE IF NOT EXISTS arenas.{table_name} ({', '.join(columns)});"

#     # Connect to the database and execute the query
#     with engine.connect() as connection:
#         connection.execute(text(create_table_query))

#         # Prepare the insert query with named placeholders
#         named_placeholders = ', '.join([f":{col}" for col in df.columns])
#         insert_query = f"INSERT INTO arenas.{table_name} VALUES ({named_placeholders});"

#         # Insert the CSV data into the newly created table row by row
#         for row in df.itertuples(index=False):
#             params = {col: getattr(row, col) for col in df.columns}  # Create a dictionary
#             connection.execute(text(insert_query), **params)  # Use named parameters


# def create_table_from_csv_raw(engine, table_name: str, df: pd.DataFrame):
#     columns = []

#     # Create a mapping for pandas dtypes to SQL dtypes
#     for column_name, dtype in zip(df.columns, df.dtypes):
#         # Determine the SQL data type for each column
#         if pd.api.types.is_integer_dtype(dtype):
#             columns.append(f"{column_name} INTEGER")
#         elif pd.api.types.is_float_dtype(dtype):
#             columns.append(f"{column_name} FLOAT")
#         else:
#             columns.append(f"{column_name} TEXT")

#     # Create table query
#     create_table_query = f"CREATE TABLE IF NOT EXISTS arenas.{table_name} ({', '.join(columns)});"

#     # Connect to the database and execute the query
#     with engine.connect() as connection:
#         connection.execute(text(create_table_query))

#         # Prepare the insert query with named placeholders
#         named_placeholders = ', '.join([f":{col}" for col in df.columns])
#         insert_query = f"INSERT INTO arenas.{table_name} ({', '.join(df.columns)}) VALUES ({named_placeholders});"

#         # Insert the DataFrame data into the newly created table
#         for row in df.itertuples(index=False):
#             params = {col: getattr(row, col) for col in df.columns}  # Create a dictionary
#             connection.execute(text(insert_query), **params)  # Use named parameters


import pandas as pd
from sqlalchemy import create_engine, text

def create_table_from_csv_raw(engine, table_name: str, df: pd.DataFrame):
    columns = []

    # Create a mapping for pandas dtypes to SQL dtypes
    for column_name, dtype in zip(df.columns, df.dtypes):
        if pd.api.types.is_integer_dtype(dtype):
            columns.append(f"{column_name} INTEGER")
        elif pd.api.types.is_float_dtype(dtype):
            columns.append(f"{column_name} FLOAT")
        elif pd.api.types.is_bool_dtype(dtype):
            columns.append(f"{column_name} BOOLEAN")
        else:
            columns.append(f"{column_name} TEXT")

    # Create table query
    create_table_query = f"CREATE TABLE IF NOT EXISTS arenas.{table_name} ({', '.join(columns)});"

    # Connect to the database and execute the query
    with engine.connect() as connection:
        connection.execute(text(create_table_query))

        # Prepare the insert query with named placeholders
        named_placeholders = ', '.join([f":{col}" for col in df.columns])
        insert_query = f"INSERT INTO arenas.{table_name} ({', '.join(df.columns)}) VALUES ({named_placeholders});"

        # Insert the DataFrame data into the newly created table
        for row in df.itertuples(index=False):
            # Create a dictionary of row values
            params = {col: getattr(row, col) for col in df.columns}
            
            # Convert any complex types (like dicts) to strings
            for col, value in params.items():
                if isinstance(value, dict):
                    params[col] = str(value)  # Convert dict to string for SQL insertion

            # Debugging: Print params to see what is being passed
            print(f"Inserting row: {params}")
            
            # Execute the insert query
            connection.execute(text(insert_query), **params)

# Example usage
# engine = create_engine('your_database_url')
# create_table_from_csv_raw(engine, "new_arena_table", arena_df)

In [91]:
engine = connect_tcp_socket()
create_table_from_csv_raw(engine,"new_arena_table", arena_df)

Inserting row: {'project_id': 'proj123', 'user_id': 'user001', 'call_id': 'call001', 'timestamp': '2024-07-01 08:05:00', 'input': 'input_data_1', 'output': 'output_data_1', 'model': 'modelA', 'cost': 12.5, 'latency': 0.2, 'meta': "{'info': 'sample meta'}", 'needs_review': True, 'correct_output': 'correct_output_1', 'did_user_correct': False}

TypeError: execute() got an unexpected keyword argument 'project_id'

In [96]:
arena_df
len(arena_df)

2

In [94]:
from sqlalchemy import create_engine, text
import pandas as pd

def create_table_from_csv_raw(engine, table_name: str, df: pd.DataFrame):
    columns = []
    
    # Map pandas dtypes to SQL dtypes
    for column_name, dtype in zip(df.columns, df.dtypes):
        if dtype == 'int64':
            columns.append(f"{column_name} INTEGER")
        elif dtype == 'float64':
            columns.append(f"{column_name} FLOAT")
        else:
            columns.append(f"{column_name} TEXT")
    
    create_table_query = f"CREATE TABLE IF NOT EXISTS arenas.{table_name} ({', '.join(columns)});"
    
    with engine.connect() as connection:
        connection.execution_options(isolation_level="AUTOCOMMIT")    
        connection.execute(text(create_table_query))
        
        # Prepare the insert query
        placeholders = ', '.join([':' + col for col in df.columns])
        insert_query = f"INSERT INTO arenas.{table_name} ({', '.join(df.columns)}) VALUES ({placeholders});"

        # Insert data
        for index, row in df.iterrows():
            params = {col: row[col] for col in df.columns}  # Create a dictionary from the row
            print(f"Inserting row: {params}")  # Debug output
            connection.execute(text(insert_query), params)  # Pass params as a dictionary

# Example usage
create_table_from_csv_raw(engine, "new_arena_table", arena_df)

Inserting row: {'project_id': 'proj123', 'user_id': 'user001', 'call_id': 'call001', 'timestamp': '2024-07-01 08:05:00', 'input': 'input_data_1', 'output': 'output_data_1', 'model': 'modelA', 'cost': 12.5, 'latency': 0.2, 'meta': "{'info': 'sample meta'}", 'needs_review': True, 'correct_output': 'correct_output_1', 'did_user_correct': False}
Inserting row: {'project_id': 'proj124', 'user_id': 'user002', 'call_id': 'call002', 'timestamp': '2024-07-02 09:15:00', 'input': 'input_data_2', 'output': 'output_data_2', 'model': 'modelB', 'cost': 15.0, 'latency': 0.3, 'meta': "{'info': 'sample meta'}", 'needs_review': False, 'correct_output': 'correct_output_2', 'did_user_correct': True}

In [112]:
test_query = text("""
    INSERT INTO dataset_hub (dataset_id, dataset_name, dataset_comment, created_at, rows, model_ids, lineage, table_path, project_id)
    VALUES ('temp_954', 'temp_954', 'temp', '2024-09-21 22:02:12.737431', 2, '{temp}', '{"temp" : "temp"}', 'temp', '001');
""")

with engine.connect() as connection:
    connection.execute(test_query)

KeyboardInterrupt:

OperationalError: (psycopg2.OperationalError) could not receive data from server: Operation timed out
SSL SYSCALL error: Operation timed out

[SQL:
    INSERT INTO dataset_hub (dataset_id, dataset_name, dataset_comment, created_at, rows, model_ids, lineage, table_path, project_id)
    VALUES ('temp_954', 'temp_954', 'temp', '2024-09-21 22:02:12.737431', 2, '{temp}', '{"temp" : "temp"}', 'temp', '001');
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [111]:
import json
from sqlalchemy.exc import SQLAlchemyError

def insert_dataset_entry(engine, dataset_id, dataset_name, dataset_comment, created_at, rows, model_ids= {'temp'}, lineage =  '{"temp" : "temp"}', table_path=None, project_id = '001'):
    # Define the SQL insert query
    insert_query = """
    INSERT INTO dataset_hub (dataset_id, dataset_name, dataset_comment, created_at, rows, model_ids, lineage, table_path, project_id)
    VALUES (:dataset_id, :dataset_name, :dataset_comment, :created_at, :rows, :model_ids, :lineage, :table_path, :project_id);
    """
    
    # Prepare parameters for the query
    params = {
        "dataset_id": dataset_id,
        "dataset_name": dataset_name,
        "dataset_comment": dataset_comment,
        "created_at": created_at,
        "rows": rows,
        "model_ids": json.dumps(list(model_ids)),
        "lineage": lineage,
        "table_path": table_path,
        "project_id": project_id
    }
    try:
        with engine.connect() as connection:
            # connection.execution_options(isolation_level="AUTOCOMMIT")    
            print(insert_query, params)
            
            connection.execute(text(insert_query), **params)
            print("Dataset entry inserted successfully.")
    except Exception as e:
        print(f"Error inserting dataset entry: {e}")
        

insert_dataset_entry(engine, "datas2et_id", "dataset_name", "comment", "created_at", 2)

    INSERT INTO dataset_hub (dataset_id, dataset_name, dataset_comment, created_at, rows, model_ids, lineage, table_path, project_id)
    VALUES (:dataset_id, :dataset_name, :dataset_comment, :created_at, :rows, :model_ids, :lineage, :table_path, :project_id);
     {'dataset_id': 'datas2et_id', 'dataset_name': 'dataset_name', 'dataset_comment': 'comment', 'created_at': 'created_at', 'rows': 2, 'model_ids': '["temp"]', 'lineage': '{"temp" : "temp"}', 'table_path': None, 'project_id': '001'}
Error inserting dataset entry: execute() got an unexpected keyword argument 'dataset_id'